@import "tailwindcss";

body {
    background-color: #272727 !important;
  }
  
/* Change color and height */
#nprogress .bar {
    background: #272727 !important; /* Green */
    height: 4px !important;
  }
  
  /* Hide spinner */
  #nprogress .spinner {
    display: none !important;
  }
  

  

  .loading-bar {
    width: 50%;
    height: 6px;
    background: linear-gradient(90deg, #00ff7f, #008cff);
    border-radius: 10px;
    animation: loadingAnimation 1.5s infinite ease-in-out;
  }
  
  @keyframes loadingAnimation {
    0% {
      transform: scaleX(0);
      opacity: 0.5;
    }
    50% {
      transform: scaleX(1);
      opacity: 1;
    }
    100% {
      transform: scaleX(0);
      opacity: 0.5;
    }
  }
  